/* Estilo general*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Encabezado */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333; /* Fondo oscuro */
    padding: 10px 20px;
}
/* Logo */
.logo img {
    height: 100px; /* tama침o del logo */
}

/* Navegaci칩n */
.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: white; /* Color de texto blanco */
    text-decoration: none; /* Sin subrayado */
    font-size: 16px;
}

.nav a:hover {
    color: #ee2323; /* Color al pasar el mouse */
}

/* Secci칩n de informaci칩n */
.infoseccion {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.infoseccion h2 {
    font-weight: bold;
    margin-bottom: 10px;
}


/* Estilos de tabla */
.tabla {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 16px;
}

.tabla th,.tabla td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.tabla th {
    background-color: green;
    color: white;
}

.tabla tr:nth-child(even) {
    background-color: #dbdbdb;
}

.seccion1 {
    display: flex;
    align-items: center;
    height: 500px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
}

.imagen1{
    border-radius: 0cqw;
}

.descripcion1 {
    background: steelblue;
    border: 101px;
    margin: 50px;
    border-radius: 50px;
    text-align: center;
    color: white;
}

.title2{
    color: black;

}

.map-container {
    justify-content: center;
    margin-top: 10px;
}

.location {
    display: flex;
    align-items: center;
    height: 500px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;  
    margin: 50px; 
    justify-content: space-between;
}
