/* Estilo general*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Encabezado */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333; /* Fondo oscuro */
    padding: 10px 20px;
}
/* Logo */
.logo img {
    height: 100px; /* tamaño del logo */
}

/* Navegación */
.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: white; /* Color de texto blanco */
    text-decoration: none; /* Sin subrayado */
    font-size: 16px;
}

.nav a:hover {
    color: #ee2323; /* Color al pasar el mouse */
}
